<h1>{{pattern}}</h1>


<h3><a href="partials">Partials</a></h3>
{{#each partials}}
	<p><a href="partials/{{this}}">{{this}}</a></p>
{{/each}}

<h3><a href="modules">Modules</a></h3>
{{#each modules}}
	<p><a href="modules/{{this}}">{{this}}</a></p>
{{/each}}

<h3><a href="templates">Templates</a></h3>
{{#each templates}}
	<p><a href="templates/{{this}}">{{this}}</a></p>
{{/each}}
